.container{
    width: 100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper{
    margin-top:55px;
    width:80%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:70vh;
    object-fit: contain;

}
.about-me{
    width:50%;
}


.foto-vicky{
    height:70vh;
    width:auto;

}

h1, p{
    font-family: "Karla";
    color:#484848;
}

h1{
    font-size:2.8vw;
}

p{
    font-size:1.3vw;
    text-align: justify;
    line-height: 40px;
}