.nav-bar{
    display:flex;
    flex-direction:column;
    width:20%;
    height:100vh;
    align-items:center;
    justify-content: center;
    z-index:5;
    color:black;
    background-color:white;
    margin:0px 0px;
}
.nav-h1{
    display:none;
    color:black;
}
/*boton*/

.navbar-light .navbar-toggler {
    border-color: white !important;
    margin-top:21px;
}

.sticky{
position: -webkit-sticky;
position: sticky;
top:0;
}

div.nav-bar.sticky{
    margin: 0px 0px;
}

.nav-items{
    list-style: none;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    width:100%;
    margin: 0px;
    padding:0px;
}

.nav-items li{
    padding:20px 50px;
    text-align: left;
}

@media (max-width: 414px){
    .nav-bar{
        width:auto;
        height:auto;
        padding-top:16px !important;
        flex-direction: row;
    }

    .nav-h1{
        display:block;
        margin-top:30px !important;
    }

}