
.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proyectos-h1{
    margin:50px;
    font-family: 'Karla', sans-serif;
    color:#747474;
    font-size: 3vw;
}
.proyectos-carrousel{
    width:90%;
    height:60vh;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cuadrado{
    width:18%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.cuadrado img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.middle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.cuadrado:hover .middle {
    opacity: 0.8;
}

.vertical{

    color:rgb(255, 255, 255);
    font-family: 'Karla', sans-serif;
    font-size:6vw;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(270deg);
    -ms-transform: translate(-50%, -50%) rotate(270deg);
    transform: translate(-50%, -50%) rotate(270deg);
    z-index: 4;
}


.coleccion-banner{
    margin-top:50vh;
    background-image: url(/src/img/fotoauto.jpeg);
    width:100%;
    background-repeat: no-repeat;
    background-size:cover ;
    display:flex;
    justify-content: center;
    z-index:1;

}

.coleccion-banner-grey{
    width:100%;
    background-color:black;
    z-index:2;
    display:flex;
    justify-content: center;
    opacity: 0.5;

}

.coleccion-h1{
    color:white;
    text-transform:uppercase ;
    font-size:4vw;
    padding:10px;
    letter-spacing:0.5em;
    z-index:3;
}
