@import "base";

.nav-bar{
    width:100%;
    height:9vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background: white;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-between;
    position:fixed;
}

.nav-bar.active{
    background: #EBEBEB;
}

.nav-list.active{
    color:rgb(114, 114, 114);
}

.logo{
    width:200px;
    margin-left:40px;
}

.nav-list, .redes{
    display:flex;
    flex-direction: row;
    list-style:none;
    margin:0px 5px;
    padding:0px;
    color: $my-grey;
}

.nav-list{
    li{
        margin:0px 10px;
    }
}

@media (max-width: 414px){
    .nav-bar{
        width:auto;
        height:auto;
        padding-top:16px !important;
    }


    .nav-h1{
        display:block;
        margin-top:30px !important;
    }

}