.nav-bar{
    display:flex;
    flex-direction:column;
    width:20%;
    height:100vh;
    align-items:center;
    justify-content: center;
    z-index:5;
    color:black;
    background-color:white;
    margin:0px 0px;
}

.sticky{
position: -webkit-sticky;
position: sticky;
top:0;
}

div.nav-bar.sticky{
    margin: 0px 0px;
}

.nav-items{
    list-style: none;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    width:100%;
    margin: 0px;
    padding:0px;
}

.nav-items li{
    padding:20px 50px;
    text-align: left;
}
