.App {
  text-align: center;
}



div.main-container{
  padding:0px;
  margin:0px;
  display: grid;
  grid-template-columns: min-content 1fr;
  box-sizing:border-box;

}





@media (max-width: 414px){
  div.main-container{
    display:flex;
    flex-direction:column;
  }
    
}