.App {
  text-align: center;
}



div.main-container{
  padding:0px;
  margin:0px;
  display: grid;
  grid-template-columns: min-content 1fr;
  box-sizing:border-box;

}



.main-app{
  width: 100vw;
  height:100vh;
  background-image: url("img/fotoauto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-position-y: top;
  z-index:1;
}

div.main-app-wrap{
  width:100vw;
  height:100vh;
  background-color:rgba(90, 90, 90, 0.733);
  z-index:2;
  display:flex;
  justify-content: center;
  align-items: center;
}

h1{
  letter-spacing:  1.0em;;
  font-size:3vw !important; /*no se si conviene ponerle vw, para hacerlo más responsive*/
  display:flex;
  flex-wrap: wrap;
  z-index:3;
  color:white;
  font-family: 'Karla', sans-serif;
  font-weight: 100;


}





/*FLECHA PARA ABAJO*/
.box{
  position:absolute;
  top:90%;
  left:50%;

  transform: translate(-50%, -50%);
}

.box span{
  display:block;
  width:30px;
  height:30px;
  border-bottom:1px solid #fff;
  border-right:1px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.box span:nth-child(2){
  animation-delay: -0.2s;
}
.box span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*FIN FLECHA PARA ABAJO*/

@media (max-width: 414px){
  div.main-container{
    display:flex;
    flex-direction:column;
  }
    
}